@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 48, 63, 87;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 248, 248, 248;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: 'Montserrat', sans-serif;
}

.font-serif {
  font-family: 'TASA Explorer', serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom styles for smooth animations */
.transition-all {
  transition: all 0.3s ease-in-out;
}

.transform-scale-hover:hover {
  transform: scale(1.03);
  transition: transform 0.3s ease;
}

/* Marquee animation for project carousel */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 35s linear infinite;
}